* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header,
.footer {
  background-color: blueviolet;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

main {
  min-height: calc(100vh - 80px);
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
}

ul li a.active {
  color: #000;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  display: block;
  width: 45%;
  margin: 10px 0;
  border: 1px solid #000;
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.product-form {
  padding: 10px;
}

.product-form input {
  height: 40px;
  width: 100%;
  margin: 10px 0;
  display: block;
  border: 1px solid gray;
  padding: 5px;
}
